@model OtoSpaMVC.Models.GoogleMap

@{
    ViewData["Title"] = "Details";
}

@*<h2>Details</h2>*@

@*<div>
    @*<h4>GoogleMap</h4>
    <hr />*@
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.langi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.langi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.longi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.longi)
        </dd>
    </dl>
</div>*@


<div>
    <h2>GoogleMap</h2>


    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 400px;
            width: 400px;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    <div>
        <div id="map"></div>
        <script>
      var map;
        function initMap() {

            var myLatLng = { lat: 31.888556, lng: 34.780474 };
            var markerLatLng = { lat: @Model.langi , lng: @Model.longi }
          map = new google.maps.Map(document.getElementById('map'), {
              center: myLatLng,
          zoom: 19
          });
          // Create a marker and set its position.
          var marker = new google.maps.Marker({
              map: map,
              position: markerLatLng,
              title: 'Hello World!'
            });
            // Create a marker and set its position.
            var marker = new google.maps.Marker({
                map: map,
                position: myLatLng,
                title: 'Hello World!'
            });
      }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2v_Kv-uqxQ4vDyynajQ2m8gBsOL-0j3w
&callback=initMap"
                async defer></script>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>