@model IEnumerable<OtoSpaMVC.Models.CartItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-success"> <span class="fa fa-plus-square" aria-hidden="true"></span> Create New</a>
</p>
<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
                @* @Html.DisplayNameFor(model => model.Amount)*@
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Cart)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Amount)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Counter)*@
                Number of products in carts
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ID)
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.Amount)*@
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.Cart.ID)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Counter)
                </td>
                <td>
                    <partial name="_listButtons"
                             view-data='new ViewDataDictionary(this.ViewData){{ "targetId", item.ID }}' />
                </td>
            </tr>
        }
    </tbody>
</table>
